<h1>Reminders</h1>
<% @tasks.each do |task| %>
    <br/><%= link_to_remote "#{task.name}", :update => 'sidebar',
             :url => {
                :controller => 'reminders',
                :action => 'task',
                :id => task
             } -%> | <%= session[:user].to_local_time(task.due_at).to_time.to_formatted_s(:short_stamp) -%> | <%= task.title -%>
<% end %>